
@{
    ViewBag.Title = "Tour";
}

<section class="hgroup">
    <h1>A China Experience</h1>
    <h2>Become immersed in the ancient Chinese culture while exploring the history of the incredible capital city and discovering Beijing’s cultural treasures.s</h2>
    <ul class="breadcrumb pull-right">
        <li><a href="index.html">Home</a> </li>
        <li class="active">Tour</li>
    </ul>
</section>
<section>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <section class="portfolio_slider_wrapper">
                <div class="flexslider" id="portfolio_slider">
                    <ul class="slides">
                        <li class="item" data-thumb="~/images/Highlights/templeofheaven.jpg" style="background-image: url(@Url.Content("~/images/Highlights/templeofheaven.jpg"))">
                            <div class="container">
                                <a href="~/images/Highlights/templeofheaven.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">Temple of Heaven Park • Built in 1420</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/5.jpg" style="background-image: url(images/portfolio/item/5.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/5.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/7.jpg" style="background-image: url(images/portfolio/item/7.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/7.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/1.jpg" style="background-image: url(images/portfolio/item/1.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/1.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/8.jpg" style="background-image: url(images/portfolio/item/8.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/8.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/9.jpg" style="background-image: url(images/portfolio/item/9.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/9.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/10.jpg" style="background-image: url(images/portfolio/item/10.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/10.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-thumb="images/portfolio/item/11.jpg" style="background-image: url(images/portfolio/item/11.jpg)">
                            <div class="container">
                                <a href="images/portfolio/item/11.jpg" rel="prettyPhoto[gal]"></a>
                                <div class="carousel-caption">
                                    <p class="lead">optional description of the photo</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        <li> <img src="~/images/Highlights/templeofheaven.jpg" alt="Temple of Heaven Park" /> </li>
                        <li> <img src="images/portfolio/item/5.jpg" alt=""> </li>
                        <li> <img src="images/portfolio/item/7.jpg" alt=""> </li>
                        <li> <img src="images/portfolio/item/1.jpg" alt=""> </li>
                        <li> <img src="images/portfolio/item/8.jpg" alt=""> </li>
                        <li> <img src="images/portfolio/item/9.jpg" alt=""> </li>
                        <li> <img src="images/portfolio/item/10.jpg" alt=""> </li>
                        <li> <img src="images/portfolio/item/11.jpg" alt=""> </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-sm-4 col-md-4">
            <article class="portfolio_details">
                <h2 class="section_header">A China Experience</h2>
                <p>Become immersed in the ancient Chinese culture while exploring the history of the incredible capital city and discovering Beijing’s cultural treasures.</p>
                <br>
                <br>
                <div>
                    <p><strong>Days&Nights:</strong> 7 Days / 5 Nights</p>
                    <p><strong>City:</strong> Beijing</p>
                    <p><strong>Country:</strong> China</p>
                    <p><strong>Rating:</strong><span class="rating r9"></span></p>
                </div>
                <br>
                <br>
                <a href="#" class="btn btn-danger center-block btn-lg">Reserve Now</a>
            </article>
        </div>
    </div>
</section>
<section>
    <ul class="pager">
        <li class="previous"><a href="portfolio_item.html">← Back</a></li>
        <li class="next disabled"><a href="#">Next →</a></li>
    </ul>
</section>

<section>
    <section class="portfolio_teasers_wrapper">
        <h2 class="fancy section_header">Related Projects</h2>
        <div class="portfolio_strict row">
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item">
                    <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image:url(images/portfolio/a1.jpg)">
                            <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z" />
                            </svg>
                            <figcaption>
                                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                <div class="view_button">View</div>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description">
                        <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                        <p>poetic</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item">
                    <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image:url(images/portfolio/t5.jpg)">
                            <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z" />
                            </svg>
                            <figcaption>
                                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                <div class="view_button">View</div>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description">
                        <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                        <p>poetic</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="portfolio_item">
                    <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                        <figure style="background-image:url(images/portfolio/p3.jpg)">
                            <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z" />
                            </svg>
                            <figcaption>
                                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                <div class="view_button">View</div>
                            </figcaption>
                        </figure>
                    </a>
                    <div class="portfolio_description">
                        <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                        <p>poetic</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

